@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos ao Projeto Decola Tech</h1>
    <p>
        <img src="https://cdn.pixabay.com/photo/2018/07/14/11/33/earth-3537401_960_720.jpg" height="400" width="600"/>
    </p>
</div>
